.userInput{
    margin: 20px;
}

.info-search{
    display: flex;
    justify-content: space-between;
    background-color: rgb(225, 222, 222);
    
    padding: 12px;
}
.inputform {
    /* padding-left: 18lvw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    margin-top: 4px;
    width: 100px;
}
input{
    margin-top: 4px;
}

.academicSupport{
    width: 30%;
}
.paragraphSupport{
    margin-top: 0px;
    margin-bottom: 0px;
}

.about{
    width: 30%;
}

.poster{
    margin-left: 20px;
}