.courseItem{
    display: flex;
    /* justify-content: space-between; */
    background-color: rgb(153, 190, 190);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 6px;
    padding-left: 30px;
    padding-right: 30px;
}

.source{
    margin-left: auto;
    padding-right: 10px;
}

.rating{
    margin-left: 10px;
    padding-right: 10px;
}

.hours{
    margin-left: 10px;
    padding-right: 10px;
}

.buttonlink{
    
    padding: 8px 8px 8px 8px;
    background-color: #1f79dae1;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: center;
}

.title{
    padding-left: 10px;
}

.checkbox{
    transform: scale(1.5);
}

.scroll-container{
    margin-top: 12px;
    margin-bottom: 12px;
    height: 65vh;
    overflow: auto;
   
}

.filters{
    margin-top: 12px;
}
.filters select{
    margin-left: 18px;
}