.page{
    margin-left: 24px;
    margin-right: 24px;
}
.mainnav{
    display: flex;
    /* justify-content: center; */
}

.pagetitle{
    flex:1;
    margin-left:200px
}
.backtohome{
    margin-left: auto;
    max-height: 35px;
    align-self: center;
    margin-right: 100px;
}